@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff');
  src: local('Lato Regular'), local('Lato-Regular'),
    url('/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Semibold.woff');
  src: local('Lato Semibold'), local('Lato-Semibold'),
    url('/fonts/Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff');
  src: local('Lato Bold'), local('Lato-Bold'),
    url('/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}