@use '../base/variables' as *;

.footer {
  padding-block: 30px;
  font-size: 13px;
  background-color: $accent-dark-2;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $footer-content-offset;
  }

  &__col {
    text-align: center;
  }

  &__col:not(:first-child) {
    padding-inline-start: $footer-content-offset;
    border-left: 1px solid #c3c3c3;

    @media (width <= 768px) {
      border: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(16px, 4vw, 38px);
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #c3c3c3;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__link {
    display: contents;
    color: $text-color-primary;
    transition: color .3s ease-in;

    @media (any-hover: hover) {
      &:hover {
        color: $accent-light-1;
      }
    }

    &:active {
      color: $accent-light-3;
    }

    &:visited {
      color: $accent-light-3;
    }
  }
}