@use '../base/variables' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $accent-dark-1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    padding-block: 38px;
  }

  &__logo-link {
    &:focus-visible {
      outline: 1px solid $accent-light-1;
      outline-offset: 6px;
    }
  }
}

.nav {
  @media (width <=768px) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__link {
    display: inline-flex;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    color: $text-color-primary;
    transition: color .3s ease-in;

    &--active {
      color: $accent-light-1;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $accent-light-3;
      }
    }

    &:focus-visible {
      outline: 1px solid $accent-light-1;
      outline-offset: 6px;
    }

    &:active {
      color: $accent-light-1;
    }
  }
}